/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
  @Hero Banner
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/*Hero Banner Container*/
.hero-banner{
    height: 500px !important; /*Set Height Here*/
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
    @Contact Section
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/*Contact Section*/
.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Bottom Container (Row)*/
.contact-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 75px; /*Sets the spacing between the bottom boxes*/
    padding-top: 50px; /*Spacing at the top (away from headings)*/
    padding-bottom: 50px; /*Spacing at the bottom (away from footer)*/

    /*
    /*Background Styling
    background-color: #ffffff;
    background-image: linear-gradient(135deg, rgba(228,228,228,0.4) 25%, transparent 25%), linear-gradient(225deg, rgba(228,228,228,0.4) 25%, transparent 25%), linear-gradient(45deg, rgba(228,228,228,0.4) 25%, transparent 25%), linear-gradient(315deg, rgba(228,228,228,0.4) 25%, #ffffff 25%);
    background-position: 8px 0, 8px 0, 0 0, 0 0;
    background-size: 16px 16px;
    background-repeat: repeat;
    */
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
    @Contact Left Container
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/*Contact Container*/
.left-contact {
    /*Sizing*/
    width: 500px;
    /*Styles*/
    border-radius: 10px;
    background-color: white;
    /*Flex*/
    display: flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
}

/*Contact Title (h2)*/
.contact-h2 {
    color: #a349a4;
    font-size: 32px;
    font-weight: 800;
    margin: 0;
}

/*Contact Subheading (h3)*/
.contact-h3 {
    color: #163741;
    font-weight: 800;
    font-size: 40px;
    margin: 0;
    padding-bottom: 10px;
}

/*Contact Caption (h4)*/
.contact-h4 {
    font-size: 16px;
    font-weight: 400;
    color: #676666;
    margin: 0;
    padding-bottom: 30px;
}

/*Logo Container*/
.contact-logo-image {
    padding-top: 30px;
    height: 40px;
}

/*Logo Image*/
.contact-logo-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*Contact Form*/
#contact-form {
    /*Flex*/
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/*Input Box*/
#contact-form .input-container {
    position: relative;
    width: 90%;
    height: 40px;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

/*Form Inputs*/
#contact-form input[type=text],
#contact-form input[type=email] {
    width: calc(100% - 20px);
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #a249a499;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 20px;
    color: #a349a4;
    font-family: 'Nunito', sans-serif;
    margin-top: 10px;
}

.input-container-textarea {
    position: relative;
    width: 90%;
    height: 100px;
    margin-bottom: 50px;
}

/*Message Input (Textarea)*/
#contact-form textarea {
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    min-width: calc(100% - 20px);
    height: 100px;
    max-height: 100px;
    min-height: 100px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #a249a499;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 10px;
    color: #a349a4;
    font-family: 'Nunito', sans-serif;
    background-color: white;
    margin-top: 10px;
}

/*Input Placeholder*/
#contact-form input::placeholder {
    color: #a249a498;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

/*All Labels for Contact Form*/
.input-container label, .input-container-textarea label {
    color: #676666;
    font-weight: 600;
}

/*Input Icons*/
.input-container i {
    position: absolute;
    right: 10px;
    top: calc(50% + 26px);
    transform: translateY(-50%);
    font-size: 20px;
    padding-top: 5px;
    color: #a349a4;
}

.input-container-checkbox {
    padding-bottom: 45px;
    padding-top: 10px;
}

.input-container-checkbox label {
    color: #676666;
    font-weight: 600;
}

/*Submit Button*/
.contact-btn {
    /*Sizing*/
    width: 150px;
    height: 50px;
    /*Styles*/
    background-color: #a349a4;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    outline: none;
    border: none;
    /*Text*/
    text-align: center;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 16px;
    /*Others*/
    cursor: pointer;
    transition: 0.3s;
} .contact-btn:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
    @Contact Right Container
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/*Right Side Container*/
.right-contact {
    width: 350px;
    background-color: #163741;
    border-radius: 10px;
    /*Flex*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Envelope Image Container*/
.contact-image-container {
    width: 60%;
    padding-top: 30px;
}

/*Envelope Image*/
.contact-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Middle Section (Contact Information)*/
.contact-information-container {
    /*Flex*/
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*Contact Information (Per Row)*/
.contact-row {
    padding-bottom: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

}

/*Icon Container (Circle Background of the Icon)*/
.circle-contact {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    /*Flex (Centers the Icon)*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Icon Image*/
.circle-contact i {
    font-size: 24px;
    color: #a349a4;
}

/*Contact Text (Label next to Icon)*/
.contact-text {
    font-size: 16px;
    margin: 0;
    color: white;
}

/*Social Media Container (Bottom Section)*/
.contact-social-media-container {
    width: 100%;
    padding-left: 100px;
    padding: 20px 0px 30px 85px; /*top - left*/
    /*Flex*/
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

/*Background of Social Media Icon*/
.contact-social-background {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    /*Flex (Centers the Icon)*/
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}.contact-social-background:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

/*Icon Image*/
.contact-social-background a {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.linkedin-color {
    background-color: #0072b1;
}

.twitter-color {
    background-color: #1DA1F2;
}

.facebook-color {
    background-color: #4267B2;
}


/*Middle Section (Contact Information)*/
.contact-information-container {
    /*Flex*/
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*Contact Information (Per Row)*/
.contact-row {
    padding-bottom: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

}

/*Icon Container (Circle Background of the Icon)*/
.circle-contact {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    /*Flex (Centers the Icon)*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Icon Image*/
.circle-contact i {
    font-size: 24px;
    color: #a349a4;
}