/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
  @Fonts
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@700;800&display=swap');

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
  @Hero Banner
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/*Hero Banner Container*/
.hero-banner{
    height: 300px !important; /*Set Height Here*/
}

main {
    min-height: calc(100vh - 134px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*Background*/
    background-image: linear-gradient(135deg, rgba(228, 228, 228, 0.4) 25%, transparent 25%), linear-gradient(225deg, rgba(228, 228, 228, 0.4) 25%, transparent 25%), linear-gradient(45deg, rgba(228, 228, 228, 0.4) 25%, transparent 25%), linear-gradient(315deg, rgba(228, 228, 228, 0.4) 25%, #ffffff 25%);
    background-position: 8px 0, 8px 0, 0 0, 0 0;
    background-size: 16px 16px;
    background-repeat: repeat;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
    @Item
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/*Item Section*/
.item-section {
    padding-top: 100px;
    padding-bottom: 50px;
    /*Flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
}

/*Item Image Container*/
.item-image {
    width: 500px;
    height: 500px;
}

/*Item's Image*/
.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/*Info Container*/
.right-container {
    display: flex;
    flex-direction: column;

    width: 400px;
    
}

/*Category Text*/
.category-text {
    margin: 0;
    font-size: 14px;
    color: #676666;
}

/*Title Text*/
.title-text {
    margin: 0;
    font-size: 34px;
    color: #163741;
    margin-top: 0px;
    font-weight: 900;
}

.price-stock-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*Price*/
.price-text {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #163741;

    font-family: 'Poppins', sans-serif;
}

.in-stock-text {
    font-size: 13px;
    color: #a349a4;
    margin-bottom: 0;
    margin-left: 10px;

    margin-top: 0px;
    font-style: normal;
    font-weight: 900;
    text-transform: inherit;
}

/*Description*/
.desc-text {
    font-weight: 400;
    line-height: 28px;
    color: #676666;
    font-weight: 600;
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 22px;
}

.add-cart-btn {
    width: 200px;
    height: 50px;
    background-color: #a349a4;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-family: Nunito, sans-serif;
    transition: 0.2s;
    font-size: 18px;
    position: relative;
}

.add-cart-btn:hover {
    background-color: #d292d3;
    transition: 0.2s;
}

.item-bottom-container .bx-cart-add {
    position: relative;
    top: 2px;
    font-size: 20px;
    line-height: 15px;
    padding-left: 10px;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
    @Item - Review
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/*Ratings Container (Div)*/
.item-rating-container {
    padding-top: 10px;
    /*Flex*/
    display: flex;
    align-items: center;
}

/*Stars*/
.item-rating-stars i {
    font-size: 20px;
    color: #f1c40f;
    margin-right: 5px;
}

/*Rating Text*/
.item-rating-container p {
    margin: 0;
    margin-right: 10px;
    font-size: 18px;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
    @Reviews
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.reviews-section {
    /*Flex*/
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.reviews-heading {
    color: #163741;
    font-weight: 800;
    font-size: 36px;
    margin: 0;
}

.reviews-template {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    /*Flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
    @Review - Template
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/*Username + Date container (Div)*/
.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Username Text*/
.review-username {
    color: #a349a4;
    font-size: 28px;
    font-weight: 800;
    margin: 0;
}

/*Date Text*/
.review-date {
    font-size: 18px;
    font-weight: 500;
    color: #676666;
    margin: 0;
}

/*Filled Star*/
.review-rating .filled {
    color: #f1c40f;
}

/*Unfilled star*/
.review-rating .unfilled {
    color: #f1c40f;
}

/*Individual star*/
.review-rating i {
    color: #f1c40f;
    font-size: 18px;
}

/*Feedback Text*/
.review-text {
    font-size: 18px;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
    @Mobile Support
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

@media screen and (max-width: 1200px) {
    main {min-height: calc(100vh - 114px);}
    .item-image{width:450px; height: 450px;}
    .reviews-section {align-items: center;}
}

@media screen and (max-width: 1000px) {
    .item-image{width:400px; height: 400px;}
}

@media screen and (max-width: 600px) {
    .item-image{width:350px; height: 350px;}
    .right-container{width: 85%}
}

@media screen and (max-width: 400px) {
    .item-section{gap: 35px; padding-top:50px;}
    .item-image{width:90vw; height: 90vw;}
    .right-container{width: 90%;display: flex;
        justify-content: center;
        align-items: center;}

    .in-stock-text {
        font-size: 13px;
        color: #a349a4;
        margin-bottom: 0;
        margin-top: 0px;
        font-style: normal;
        font-weight: 900;
        text-transform: inherit;
        margin-left: 0;
    }

    .price-stock-container {
        flex-direction: column;
    }
    .desc-text {text-align: center; margin-right: 0;}   
    .reviews-heading {font-size: 34px;}
    .review-username {font-size: 26px;}
    .review-date {font-size: 16px;}
}

