body, html {
    overflow-x: hidden;
}
/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
    @Hero Banner
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/*Hero Banner Container*/
.hero-banner{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    touch-action: auto;
}

/*Hero Banner Image Container*/
.hero-banner-image{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

/*Hero Button Image*/
.hero-banner-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Hero Banner Left Container*/
.hero-banner-left {
    height: 100%;
    max-width: 500px;
    width: 100%;
    padding-left: 10%;
    /*Flex*/
    display: flex;
    justify-content: start;
    align-items: center;
}

/*Hero Banner Catch Phrase*/
.hero-banner-content h2 {
    font-size: 60px;
    font-weight: 900;
    color: #a349a4;
}

/*Hero Banner Caption*/
.hero-banner-content p {
    font-size: 19px;
    font-weight: 700;
    margin-top: -30px;
    color: #163741;
}

/*Hero Banner Button*/
.hero-banner-button {
    /*Button styles*/
    width: 160px;
    height: 50px;
    border-radius: 10px;
    background-color: #a349a4;

    /*Text styles*/
    line-height: 50px;
    text-align: center;
    color: white;
    font-weight: 700;

    /*Other styles*/
    cursor: pointer;
}


/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
    @Items Container
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.items-container {
    width: 100%;
    padding-top: 30px;
    /*Flex*/
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
    @Items Template
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.item-template {
    /*Flex*/
    display: flex;
    flex-direction: column;

    /*Styles*/


    /*Others*/
}

/*Item Image Container*/
.item-image {
    width: 250px;
    height: 250px;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.3);
}

.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Item Info Container*/
.item-info {
    /*Flex*/
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

/*Category Text*/
.item-info h4 {
    font-size: 24px;
    padding-top: 10px;
    margin: 0;
    color: #41494b;
}

/*Item Name Text*/
.item-info h5 {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0;
    color:#163741
}

/*Item Bottom Container*/
.item-bottom-container {
    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Price Text*/
.item-bottom-container p {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 10px;
    color:#163741
}

/*Shopping Cart*/
.bx-card-add {
    font-size: 20px; /*Changes height of add to cart icon*/
}

#textholder1{
    margin-left:auto;
      margin-right:auto;
      padding:10px;
      width: 980px;
    text-align:center;
    background-color: #eee;
  }
