.main-content{
    text-align: center;

}
.Login-box{
margin-left: 50%;
text-align: center;
align-items: center;
height:200px;
width: 200px;
background-color: #00A4BD;
border: 2px solid #00A4BD;
padding: 10px;
border-radius: 1rem;


}
.image-box{
 
}
