body{
    padding-left: 0%;
    background: url(assets\minimaldogcat.png) repeat 0 0; 

}


.Login-box {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 25%;
    text-align: center;
    margin-left: 37.5%;
    
}

.max-w-md {
    max-width: 400px;
    margin: 0 auto;
}

.p-8 {
    padding: 2rem;
}

.login-text {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1.5rem;
    background-image:image()
}

.username-label,
.password-label {
    display: block;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.username-input,
.password-input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.login-submit {
    background-color: #9b4caf;
    color: #fff;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-submit:hover {
    background-color: #7745a0;
}