body{
    padding-left: 0%;
    background:  rgba(85,113,111,1);
    

}

.main-content{
    display: flex;
}

/* DISPLAY BOXES FOR  LOGIN AND SIGN UP*/

.Login-box {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 25%;
    height: 32%;
    text-align: left;
    margin-left: 750px; 
    margin-top: -700px; 
    background: rgb(108,51,163);
    background: linear-gradient(310deg, rgba(108,51,163,1) 0%, rgba(130,65,184,1) 35%, rgba(130,65,184,1) 100%);
    justify-content: center; 
    align-items: center;
}
.SignUp-box {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 25%;
    height: 32%;
    text-align: left;
    margin-left: 70px; 
    margin-top: -700px; 
    background: rgb(108,51,163);
    background: linear-gradient(310deg, rgba(108,51,163,1) 0%, rgba(130,65,184,1) 35%, rgba(130,65,184,1) 100%);
    justify-content: center; 
    align-items: center;
}

.max-w-md {
    max-width: 400px;
    margin: 0 auto;
}

.p-8 {
    padding: 2rem;
}

.login-text {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
    
}

.username-label,
.password-label,
.email-label, 
.pnumber-label,
.fname-label{
    display: block;
    font-size: 0.9rem;
    color: #ffffff;
    margin-bottom: 0.5rem;

}

.username-input,
.password-input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 1rem;

    
}


.login-submit {
    background-color: #4f0ec9;
    color: #fff;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-submit:hover {
    background-color:#380499;
}