body {
    overflow: hidden; /* Hide overflow to prevent scroll bars */
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
  @Hero Banner
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/*Hero Banner Container*/
.hero-banner{
  height: 550px !important; /*Set Height Here*/
  background-color:whitesmoke;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
  @Order Confirm
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.main-content {
  width: 100%;
  padding: 20px 0;
  /*Flex*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-content {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.content-h3 {
  font-size: 30px;
  margin: 0;
  font-weight: 900;
  color: #a349a4;
}

.itembox {
  width: 500px;
  height: 200px;
  background-color:whitesmoke;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
  @Text
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/*Order Number Text*/
.order-number-text {
  margin: 0;
}

/*Order Total Text*/
.order-total-text {
  padding-bottom: 10px;
  color: #163741;
}

/*Order Progress Text*/
.order-progress-text {
  color: #163741;
  padding-bottom: 20px;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
  @Order Content
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.order-summary-heading {
  color: #163741;
  font-weight: 800;
  font-size: 40px;
}