body, html {
    overflow-x: hidden; /*Prevents horizontal scrolling*/
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
  @Hero Banner
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/*Hero Banner Container*/
.hero-banner{
    height: 500px !important; /*Set Height Here*/
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
    @Headings
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/*Update Account Title (h2)*/
.update-account-h2 {
    color: #a349a4;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin: 0;
}

/*Update Account Subheading (h3)*/
.update-account-h3 {
    color: #163741;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}

/*Update Account Caption (h4)*/
.update-account-h4 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #676666;
    margin: 0;
    padding-bottom: 30px;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
    @Left/Right Containers
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/*Navigation & Notifications*/
.admin-left, .admin-right {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

/*Navigation*/
.admin-left {
    padding-top: 84px;
    max-width: 800px;
}

/*Notifications*/
.admin-right {
    padding: 0 20px;
    padding-top: 84px;
}


/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
    @Navigation
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/*Dashboard Section*/
.admin-dashboard-section {
    width: 100%;
    min-height: calc(100vh - 84px);
    overflow: hidden;
    /*Flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

/*Admin Buttons Container*/
.admin-dash-buttons {
    /*Flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

/*Admin Button Link*/
.admin-dash-button {
    text-decoration: none;
    color: #163741;
    transition: 0.3s;
} .admin-dash-button:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

/*Admin Button*/
.admin-dash-button div {
    /*Sizing*/
    width: 300px;
    height: 100px;
    /*Styling*/
    background-color: #a349a4;
    border-radius: 5px;
    /*Font*/
    color: white;
    text-align: center;
    font-weight: 700;
    line-height: 100px;
    font-size: 18px;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
    @Notifications
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.notifications-container {
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admin-notification {
    width: 100%;
    background-color: #163741;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
} .admin-notification:hover {
    transition: 0.3s;
    transform: scale(1.02)
}

.admin-right a {
    text-decoration: none;
    color: white;
}

.admin-notification p {
    padding-left: 10px;
    padding-right: 10px;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
    @Mobile Support
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

@media screen and (max-width: 1575px) {
    .admin-dashboard-section {padding-top: 100px; padding-bottom: 20px;}
}