body, html {
    overflow-x: hidden; /*Prevents horizontal scrolling*/
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
  @Hero Banner
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/*Hero Banner Container*/
.hero-banner{
    height: 500px !important; /*Set Height Here*/
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
  @Sections
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.admin-search-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admin-table-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admin-first-section {
    padding-top: 84px;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
  @Headings
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/*Update Account Title (h2)*/
.admin-table-section h2, .admin-search-section h2 {
    color: #a349a4;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin: 0;
}

/*Update Account Subheading (h3)*/
.admin-table-section h3, .admin-search-section h3 {
    color: #163741;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}

/*Update Account Caption (h4)*/
.admin-table-section h4, .admin-search-section h4 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #676666;
    margin: 0;
    padding-bottom: 30px;
}

.go-back-link {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #676666;
    padding-bottom: 30px;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
  @Search
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.admin-search-section form {
    width: 700px;
    min-width: 300px;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.admin-search-section select {
    border: 1px solid #e1e1e1;
    background: #fff;
    padding: 8px 25px 8px 11px;
    min-width: 55px;
    font-size: 13px;
    font-weight: 500;
    color: #111e49;
    border-radius: 3px;
}

.input-container {
    position: relative;
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.admin-search-section input[type=text] {
    width: calc(100% - 20px);
    height: 100%;
    background: white;
    border: none;
    outline: none;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 20px;
    color: #a349a4;
    font-family: 'Nunito', sans-serif;
    margin-top: 10px;
}

.input-container i {
    position: absolute;
    right: 10px;
    top: calc(50%);
    transform: translateY(-50%);
    font-size: 20px;
    padding-top: 14px;
    color: #163741;
}

.other-links {
    padding-top: 10px;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*\
  @Table
\*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.admin-table-section table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.admin-table-section thead tr {
    background-color: #a349a4;
    color: #ffffff;
    text-align: left;
}

.admin-table-section th,
.admin-table-section td {
    padding: 12px 15px;
}

.admin-table-section td {
    color:#163741;
}

.description-text {
    white-space: nowrap;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.admin-table-section td a {
    color: #a349a4;
    text-decoration: none;
}

.admin-table-section tbody tr {
    border-bottom: 1px solid #dddddd;
}

.admin-table-section tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.admin-table-section tbody tr:last-of-type {
    border-bottom: 2px solid #a349a4;
}

.admin-table-section tbody tr.active-row {
    font-weight: bold;
    color: #a349a4;
}

.admin-table-section form .green-btn {
    width: 120px;
    height: 45px;
    background-color: green;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    outline: none;
    border: none;
    text-align: center;
    line-height: 45px;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

/*Search Button*/
.search-button {
    width: 125px;
    height: 40px;
    background-color: #a349a4;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    outline: none;
    border: none;
    text-align: center;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
} .search-button:hover {
    transform: scale(1.03);
}

/*Delete Buttons*/
.admin-table-section form .red-btn {
    width: 120px;
    height: 45px;
    background-color: #b63c3c;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    outline: none;
    border: none;
    text-align: center;
    line-height: 45px;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
} .admin-table-section form .red-btn:hover, .admin-table-section form .green-btn:hover {
    transition: 0.3s;
    transform: scale(1.03);
}

/*Add Record Button*/
.add-link div {
    width: 150px;
    height: 40px;
    background-color: green;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    outline: none;
    border: none;
    text-align: center;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
} .add-link div:hover {
    transform: scale(1.05);
}

.add-link {
    line-height: 40px;
    text-decoration: none;
}